/.idea/
/node_modules/
/.tmp/
/.demo/
/*.tgz
/build/
/src/
/gulpfile.js
/.awcache
/*.tmp.js
/*.tmp.json
/coverage/
/.yo-rc.json
/package.json.bak
/.travis.yml
/webpack.config.js
/tsconfig.json
/karma-test-entry.ts
/karma.conf.ts
/ci/
/package.json.bak
