form([formGroup]="form", (submit)="add()")
  mat-form-field
    input(matInput, placeholder="Store name", formControlName="storeName")
  mat-form-field
    input(matInput, placeholder="Key", formControlName="key")
  mat-form-field
    input(matInput, placeholder="Value", formControlName="value")
  button(mat-button, mat-raised-button, type='submit') ADD
  h3
    span Contents of
    |
    |
    span {{form.controls.storeName.value}}
    span :
  ng-container(*ngIf="keys|async as keys; else noKeys")
    mat-list(*ngIf="keys.length; else noKeys")
      mat-list-item(*ngFor="let key of keys")
        ngf-key([key]="key", [ngf]="liveNgf|async")
  ng-template(#noKeys)
    span No data
