@import "../../node_modules/@angular/material/_theming.scss";

body {
  color: rgba(255, 255, 255, 0.9);
}

$app-primary: mat-palette($mat-pink);
$app-accent: mat-palette($mat-deep-purple);
$app-warn: mat-palette($mat-red);

$theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

@include mat-core();
@include mat-core-theme($theme);
@include mat-button-theme($theme);
@include mat-input-theme($theme);
@include mat-form-field-theme($theme);
@include mat-list-theme($theme);