:host {
  max-width: 600px;
  margin:    auto;
  display:   block;
}

.flex {
  display:         flex;
  flex-wrap:       wrap;
  flex-direction:  row;
  justify-content: space-between;
}

.title {
  @media(max-width: 329px) {
    font-size: 16px;
  }
  @media(max-width: 309px) {
    font-size: 14px;
  }
  @media(max-width: 300px) {
    display: none;
  }
}

.add-break {
  @media(min-width: 409px) {
    display: none;
  }
}
